// ################################################################## //
// #  COPYRIGHT © KU 마음건강연구소 ALL RIGHTS RESERVED.             # //
// #  Name of app: DMHC (Web applcation of Daily Mind Health Care). # //
// #  Client : KU Mind health care institute.                       # //
// #  Developer : Yeo Sung Jun (sjyeo88@gmail.com).                 # //
// #  Used Frameworks : Angular 4, Express, MySQL.                  # //
// #  Name of Component : footer                                    # //
// #  Kick off : 2017-12-04                                         # //
// #  End day  : 2017-01-31                                         # //
// ################################################################## //

@import "../../scss-variable.scss";


.address {
  position: absolute;
	width: $address_w;
	height: $address_h;
  margin-top: $address_mg;
  left: calc((100% - #{$address_w})/2);
	font-family: NanumBarunGothicOTF;
  font-style: normal;
	font-size: 11px;
	text-align: left;
  line-height: 1.3em;
	color: #4a4a4a;
}

.footer {
  position: absolute;
  width: 100%;
  height: $address_h + 2*$address_mg;
}
