<!-- ##################################################################  -->
<!-- #  Name of app: DMHC (Web applcation of Daily Mind Health Care). #  -->
<!-- #  Client : KU Mind health care institute.                       #  -->
<!-- #  Developer : Yeo Sung Jun (sjyeo88@gmail.com).                 #  -->
<!-- #  Used Frameworks : Angular 4, Express, MySQL.                  #  -->
<!-- #  Name of Component : footer                                    #  -->
<!-- #  Kick off : 2017-12-04                                         #  -->
<!-- #  End day  : 2017-01-31                                         #  -->
<!-- ##################################################################  -->

<!-- Need for Message Service of PrimeNG -->
<p-growl [value]="msgs"></p-growl>

<div class="footer">
  <address class="address">
  기관명 : KU 마음건강연구소 | 주소 : 서울시 성북구 안암로 145 고려대학교 홍보관 212호 | TEL: 02-3290-1676
  소장 : 최기홍 | E-mail : kumh@korea.ac.kr <br>
  관리자 : {{model.admin.name}} | E-mail : {{ model.admin.email}}<br>
  COPYRIGHT © KU 마음건강연구소 ALL RIGHTS RESERVED.
  </address>
</div>
