// ################################################################## //
// #  COPYRIGHT © KU 마음건강연구소 ALL RIGHTS RESERVED.             # //
// #  Name of app: DMHC (Web applcation of Daily Mind Health Care). # //
// #  Client : KU Mind health care institute.                       # //
// #  Developer : Yeo Sung Jun (sjyeo88@gmail.com).                 # //
// #  Used Frameworks : Angular 4, Express, MySQL.                  # //
// #  Name of Component : frame                    # //
// #  Kick off : 2017-12-04                                         # //
// #  End day  : 2017-01-31                                         # //
// ################################################################## //
@import './../../../../scss-variable.scss';

.frame {
  margin-left:40px;
.map {
  font-family: 'NanumGothicOTF';
  font-size: 14px;
  margin-left: 70%;
}

.frame-title {
  font-size: 36px;
  font-weight: bold;
  border-bottom: 2px solid $gray_darken;
  margin-top: 20px;
  margin-bottom: 23px;
}
}
