<!-- ##################################################################  -->
<!-- #  copyright © ku 마음건강연구소 all rights reserved.             #  -->
<!-- #  name of app: dmhc (web applcation of daily mind health care). #  -->
<!-- #  client : ku mind health care institute.                       #  -->
<!-- #  developer : yeo sung jun (sjyeo88@gmail.com).                 #  -->
<!-- #  used frameworks : angular 4, express, mysql.                  #  -->
<!-- #  name of component : frame                    #  -->
<!-- #  kick off : 2017-12-04                                         #  -->
<!-- #  end day  : 2017-01-31                                         #  -->
<!-- ##################################################################  -->

<!-- code start  ---------------------------------------------------------->

<div class="frame">
  <div class="map" *ngIf="lay.cuTitle.title !== lay.cuTitle.page">
    <a routerLink ="../">Home</a> >   {{lay.cuTitle.title}}  >  {{lay.cuTitle.page}}
  </div>
  <div class="map" *ngIf="lay.cuTitle.title === lay.cuTitle.page">
    <a routerLink ="../">Home</a> >   {{lay.cuTitle.title}}
  </div>

  <div class="frame-title">
    {{lay.cuTitle.page}}
  </div>
  <router-outlet></router-outlet>
</div>
