<!-- ##################################################################  -->
<!-- #  copyright © ku 마음건강연구소 all rights reserved.             #  -->
<!-- #  name of app: dmhc (web applcation of daily mind health care). #  -->
<!-- #  client : ku mind health care institute.                       #  -->
<!-- #  developer : yeo sung jun (sjyeo88@gmail.com).                 #  -->
<!-- #  used frameworks : angular 4, express, mysql.                  #  -->
<!-- #  name of component : expire                    #  -->
<!-- #  kick off : 2017-12-04                                         #  -->
<!-- #  end day  : 2017-01-31                                         #  -->
<!-- ##################################################################  -->


<!-- code start  ---------------------------------------------------------->
<div class="expire">
  <h1>Error 401</h1>
  <br>
  <h2>로그인 세션이 만료되었습니다.</h2>
  <h3>({{this.sec }}초 뒤 로그인 화면으로 이동합니다.)</h3>
</div>
