// ################################################################## //
// #  COPYRIGHT © KU 마음건강연구소 ALL RIGHTS RESERVED.             # //
// #  Name of app: DMHC (Web applcation of Daily Mind Health Care). # //
// #  Client : KU Mind health care institute.                       # //
// #  Developer : Yeo Sung Jun (sjyeo88@gmail.com).                 # //
// #  Used Frameworks : Angular 4, Express, MySQL.                  # //
// #  Name of Component : shortcut                    # //
// #  Kick off : 2017-12-04                                         # //
// #  End day  : 2017-01-31                                         # //
// ################################################################## //

@import "../../../../scss-variable.scss";
// .grid-all {
//   display: grid;
//   height: 645px;
//   grid-template-columns: 34% 33% 32%;
//   grid-template-rows: 34% 20% 20% 20%;
//   grid-column-gap: 10px;
//   grid-row-gap: 10px;
// }

.ui-g-1, .ui-g-2, .ui-g-3, .ui-g-4, .ui-g-5, .ui-g-6, .ui-g-7, .ui-g-8, .ui-g-9, .ui-g-10, .ui-g-11, .ui-g-12 {
  padding: 0.2em;
}
.ui-g-nopad {
  padding: 0;
}

.shortcut {
  font-family: "NanumBarunGothicOTF";
  color: white;
  padding: 20px;
  width: 100%;
  display: inline-block;
  height: 231px;
  .icon {
    display: inline-block;
    float: left;
    padding: 10px;
  }
  .info {
    display: inline-block;
    margin-left: 54px;
    margin-bottom: 27px;

    li {
      text-align: left;
      text-decoration:none;
      margin-left: 10px;
      margin-bottom: 3px;
    }
  }
  .title {
      font-size: 30px;
      font-weight: bold;
      margin-bottom: 20px;
  }
}

// .shortcut:hover {
//   border: 2px solid $light_blue;
// }

#user-info {
  background-color: #BB2E33;
  img {
    width: 100px;
    height: 100px;
    padding: 10px;
    border: 3px solid white;
  }
  .info {
    margin-left: 30px;
    margin-bottom: 27px;
  }
  overflow: hidden;
}

#patient-regist {
  /* autoprefixer: off */
  background-color: #954B4C;
  height: 231px;

  .title {
    margin-left:100px;
  }
  img {
    width: 110px;
    height: 110px;
  }
  .info {
    margin-left: 34px;
    margin-bottom: 27px;
    margin-top: 44px;
    font-size: 24px;
    .infoNum {
      font-size: 60px;
    }
  }
}


#current-regist {
  /* autoprefixer: off */
  background-color: #DD661C;
  height: 231px;

  .title {
    margin-left:90px;
  }
  img {
    margin-top: 10px;
    width: 110px;
    height: 80px;
  }
  .info {
    margin-left: 34px;
    margin-bottom: 27px;
    margin-top: 44px;
    font-size: 24px;
    .infoNum {
      font-size: 60px;
    }
  }
}

#process {
  /* autoprefixer: off */
  background-color: #9B8C48;
  height: 128px;
  // grid-row: 2;
  // grid-column: 1;
  .title {
    margin-left: 5.0em;
    margin-top: 1.0em;
  }
}

#notice {
  /* autoprefixer: off */
  cursor: default;
  height: 262px;
  background-color: white;
  border: 1px solid $gray_light;
  // grid-column: 1;
  // grid-row: 3 / 5;
  padding: 0;
  .notice-title {
    background-color: #684E80;
    height: 60px;
    .title {
      font-size: 24px;
      padding-top: 15px;
      margin-left: 80px;
    }
  }
  .icon {
    margin-left: 10px;
  }

  ul {
    padding: 5px;
    margin-left: 30px;
    margin-right: 10px;
    li {
      span {
        float:right;
      }
      color: $gray-darken;
      margin-bottom: 5px;
    }
  }
  // .notice-list {
    // color: $gray-darken;
  // }
}

#lectureMan {
  /* autoprefixer: off */
  background-color: #225D92;
  height: 128px;
  // grid-column: 2;
  // grid-row: 2;
  .title {
    font-size: 24px;
    margin-left: 6.0em;
    margin-top: .7em;
  }
}

#assignMan {
  /* autoprefixer: off */
  background-color: #1A6C67;
  height: 128px;
  // grid-column: 2;
  // grid-row: 3;
  .title {
    font-size: 24px;
    margin-left: 6.0em;
    margin-top: .7em;
  }
}

#manageMan {
  /* autoprefixer: off */
  background-color: #003447;
  height: 128px;
  // grid-column: 2;
  // grid-row: 4;
  .title {
    font-size: 24px;
    margin-left: 6.0em;
    margin-top: .7em;
  }
}

#service {
  /* autoprefixer: off */
  cursor:default;
  height: 396px;
  background-color: #6D6D6D;
  .phone {
    font-size: 30px;
    font-weight: bold;
    margin-top: 56px;
  }
  .sub {
    font-size: 18px;
  }
    img {
      margin-top: 70px;
      margin-left: 145px;
    }
}
