// ################################################################## //
// #  COPYRIGHT © KU 마음건강연구소 ALL RIGHTS RESERVED.             # //
// #  Name of app: DMHC (Web applcation of Daily Mind Health Care). # //
// #  Client : KU Mind health care institute.                       # //
// #  Developer : Yeo Sung Jun (sjyeo88@gmail.com).                 # //
// #  Used Frameworks : Angular 4, Express, MySQL.                  # //
// #  Name of Component : shortcut                    # //
// #  Kick off : 2017-12-04                                         # //
// #  End day  : 2017-01-31                                         # //
// ################################################################## //

@import "../../../../scss-variable.scss";
// .grid-all {
//   display: grid;
//   height: 645px;
//   grid-template-columns: 34% 33% 32%;
//   grid-template-rows: 34% 20% 20% 20%;
//   grid-column-gap: 10px;
//   grid-row-gap: 10px;
// }

.ui-g-1, .ui-g-2, .ui-g-3, .ui-g-4, .ui-g-5, .ui-g-6, .ui-g-7, .ui-g-8, .ui-g-9, .ui-g-10, .ui-g-11, .ui-g-12 {
  padding: 0.2em;
}
.ui-g-nopad {
  padding: 0;
}

.shortcut {
  font-family: "NanumBarunGothicOTF";
  color: white;
  padding: 20px;
  width: 100%;
  display: inline-block;
  .icon {
    display: inline-block;
    float: left;
  }
  .info {
    display: inline-block;
    margin-left: 54px;

    li {
      text-align: left;
      text-decoration:none;
      margin-left: 10px;
      margin-bottom: 3px;
    }
  }
  .title {
      font-size: 23px;
      font-weight: bold;
  }
}

.shortcut:hover {

}

// .shortcut:hover {
//   border: 2px solid $light_blue;
// }

#user-info {
  background-color: #BB2E33;
  img {
    width: 80px;
    height: 85px;
    padding: 10px;
    border: 3px solid white;
  }
  .info {
    margin-left: 30px;
    height: 141px;
  }
  ul {
    float: right;
    font-size: 14px;
  }
}

#patient-regist {
  /* autoprefixer: off */
  background-color: #954B4C;

  .title {
    margin-left:100px;
    text-align: right;
  }
  img {
    width: 100px;
    height: 100px;
  }
  .info {
    margin-left: 34px;
    margin-top: 45px;
    font-size: 24px;
    .infoNum {
      font-size: 60px;
    }
  }
}


#current-regist {
  /* autoprefixer: off */
  background-color: #DD661C;

  .title {
    margin-left:90px;
  }
  img {
    margin-top: 10px;
    width: 100px;
    height: 70px;
  }
  .info {
    margin-left: 34px;
    margin-top: 45px;
    font-size: 24px;
    .infoNum {
      font-size: 60px;
    }
  }
}

#process {
  /* autoprefixer: off */
  background-color: #9B8C48;
  // grid-row: 2;
  // grid-column: 1;
  img {
    height: 48px;
  }
  .title {
    font-size: 27px;
    margin-left: 4.5em;
    margin-top: .5em;
  }
}

#notice {
  /* autoprefixer: off */
  cursor: default;
  height: 287px;
  background-color: white;
  border: 1px solid $gray_light;
  // grid-column: 1;
  // grid-row: 3 / 5;
  padding: 0;
  .notice-title {
    background-color: #684E80;
    padding: 10px;
    height: 60px;
    .title {
      font-size: 24px;
      padding-top: 8px;
      margin-left: 80px;
    }
  }

  ul {
    font-size: 13px;
    padding: 5px;
    margin-left: 30px;
    margin-right: 10px;
    li {
      span {
        float:right;
      }
      color: $gray-darken;
      margin-bottom: 5px;
    }
  }
  // .notice-list {
    // color: $gray-darken;
  // }
}
@mixin manual($background) {
  background-color: $background;
  vertical-align: middle;
  // grid-column: 2;
  // grid-row: 4;
  img {
    height: 48px;
  }
  .title {
    font-size: 21px;
    margin-left: 5.5em;
    // margin-top: 0.3em;
  }
}

#lectureMan {
  /* autoprefixer: off */
  @include manual(#336b9f);
  // @include manual(#185b70);
}

#surveyMan {
  /* autoprefixer: off */
  @include manual(#227493);
}

#assignMan {
  /* autoprefixer: off */
  @include manual(#1A6C67);
  height: 88px;
}



#manageMan {
  /* autoprefixer: off */
  @include manual(#003447);
}

#service {
  /* autoprefixer: off */
  cursor:pointer;
  height: 386px;
  background-color: #6D6D6D;
  .phone {
    font-size: 30px;
    font-weight: bold;
    margin-top: 76px;
  }
  .sub {
    font-size: 18px;
  }
    img {
      width: 95px;
      margin-top: 29px;
      margin-left: 157px;
    }
}
