<!-- ##################################################################  -->
<!-- #  copyright © ku 마음건강연구소 all rights reserved.             #  -->
<!-- #  name of app: dmhc (web applcation of daily mind health care). #  -->
<!-- #  client : ku mind health care institute.                       #  -->
<!-- #  developer : yeo sung jun (sjyeo88@gmail.com).                 #  -->
<!-- #  used frameworks : angular 4, express, mysql.                  #  -->
<!-- #  name of component : shortcut                    #  -->
<!-- #  kick off : 2017-12-04                                         #  -->
<!-- #  end day  : 2017-01-31                                         #  -->
<!-- ##################################################################  -->

<!-- code start  ---------------------------------------------------------->


<div class="ui-g">

<div class="ui-g-4">
  <a routerLink="../frame/mypage/user" class="shortcut" id="user-info">
    <span class="icon">
      <img src="./../../../../assets/img/icons/ic-person-48px.png" alt="">
    </span>
    <div class="info">
      <div class="title">
        치료자 정보
      </div>
      <ul>
        <li>이름 :  {{ model.user.name }}</li>
        <li>소속 :  {{ model.user.deptName }}</li>
        <li>직책 :  {{ model.user.jobName }}</li>
        <li>접속일: {{ model.user.loginDate | date: 'yyyy/MM/dd' }}</li>
        <li>접속시간 : {{ model.user.loginDate | date: 'HH:mm:ss' }}</li>
      </ul>
    </div>
  </a>
</div>

<div class="ui-g-4">
  <a class="shortcut" id="patient-regist" routerLink="../frame/manage/all">
    <div class="title">
      내담자 등록신청
    </div>
    <span class="icon">
      <img src="./../../../../assets/img/icons/ic-notifications-active-48px.png" alt="">
    </span>
    <div class="info">
      <span class="infoNum">
        {{ urNPatient }}
      </span>
      <span>건</span>
    </div>
  </a>
</div>

<div class="ui-g-4">
  <a class="shortcut" id="current-regist" routerLink="../frame/manage/all">
    <div class="title">
      현재 담당 내담자
    </div>
    <span class="icon">
      <img src="./../../../../assets/img/icons/ic-people-48px.png" alt="">
    </span>
    <div class="info">
      <span class="infoNum">
        {{ NPatient }}
      </span>
      <span>명</span>
    </div>
  </a>
</div>


<div class="ui-g-4  ui-g-nopad">
  <a class="ui-g-12">
    <div class="shortcut" id="process">
      <span class="icon">
        <img src="./../../../../assets/img/icons/ic-help-outline-24px.png" alt="">
      </span>
      <div class="title">
        이용절차
      </div>
    </div>
  </a>
  <div class="ui-g-12">
    <div class="shortcut" id="notice">
      <div class="notice-title">
        <span class="icon">
          <img src="./../../../../assets/img/icons/ic-textsms-48px.png" alt="">
        </span>
        <div class="title">
          공지사항
        </div>
      </div>
      <br>
        <ul>
          <li  *ngFor="let item of notices; let i=index">
            <a [routerLink]="['../frame/guest/notice', item.idNOTICE]">
            {{ (item.title.length > 12) ? item.title.slice(0, 12) + '...' : item.title }}
            <span>
              [{{ item.ADD_TIME | date: 'yyyy/MM/dd'}}]
            </span>
            </a>
          </li>
        </ul>
    </div>
  </div>
</div>


  <div class="ui-g-4 ui-g-nopad">
    <div class="ui-g-12">
      <a class="shortcut" id="lectureMan">
        <span class="icon">
          <img src="./../../../../assets/img/icons/ic-border-color-48px.png" alt="">
        </span>
        <div class="title">
          심리교육 설정<br>메뉴얼
        </div>
      </a>
    </div>

    <div class="ui-g-12">
      <a class="shortcut" id="assignMan">
        <span class="icon">
          <img src="./../../../../assets/img/icons/ic-content-paste-48px.png" alt="">
        </span>
        <div class="title">
          내담자 과제설정<br>메뉴얼
        </div>
      </a>
    </div>

    <div class="ui-g-12">
      <a class="shortcut" id="manageMan">
        <span class="icon">
          <img src="./../../../../assets/img/icons/ic-face-48px.png" alt="">
        </span>
        <div class="title">
          내담자 관리<br>메뉴얼
        </div>
      </a>
    </div>
  </div>

  <div class="ui-g-4">
    <div class="shortcut" id="service">
      <div class="title">
        서비스 이용문의
      </div>
      <div class="phone">
        02. 3290. 1676
      </div>
      <div class="sub">
        전화문의: 평일 오전 10:00 ~ 18:00
        <br>
        메일 : kumh@korea.ac.kr
        <img src="./../../../../assets/img/icons/ic-call-48px.png" alt="">
      </div>
    </div>
  </div>
</div>
