<!-- ##################################################################  -->
<!-- #  copyright © ku 마음건강연구소 all rights reserved.             #  -->
<!-- #  name of app: dmhc (web applcation of daily mind health care). #  -->
<!-- #  client : ku mind health care institute.                       #  -->
<!-- #  developer : yeo sung jun (sjyeo88@gmail.com).                 #  -->
<!-- #  used frameworks : angular 4, express, mysql.                  #  -->
<!-- #  name of component : hash                    #  -->
<!-- #  kick off : 2017-12-04                                         #  -->
<!-- #  end day  : 2017-01-31                                         #  -->
<!-- ##################################################################  -->

 <!-- need for message service of primeng -->
<p-growl [value]="msgs"></p-growl>
<p-confirmDialog header="Confirmation" icon="fa fa-question-circle" width="600"></p-confirmDialog>

<!-- code start  ---------------------------------------------------------->

<div class="">
  <button type="button" class="add-button" (click)="addTag()">+ Hash Tag 추가하기</button>
</div>
<form class="" method="post">
<table class="hash-table">
  <tr class="header">
    <th [style.width.%]="5">No</th>
    <th>Hash Tag명</th>
    <th [style.width.%]="10">개수</th>
    <th [style.width.%]="15">추가일</th>
    <th [style.width.%]="8">저장</th>
    <th [style.width.%]="8">추가</th>
    <th [style.width.%]="8">삭제</th>
  </tr>
  <tr class="body" *ngFor="let item of tableModel.models; let idx=index">
    <td *ngIf="item.origin.key > 0">{{item.origin.key}}</td>
    <td *ngIf="item.origin.key <= 0 || !item.origin.key"></td>
    <td [ngStyle]="{'padding':'10px', 'padding-left':'calc('+ item.view.level+'*40px)', 'text-align':'left'}" >
      <span class="expand" *ngIf=" item.origin.key && !item.view.expand" (click)="onExpand(item, idx)">
        <i class="fa fa-caret-right fa-2x"></i>
      </span>
      <span class="expand-active"  *ngIf="item.origin.key && item.view.expand" (click)="onExpand(item, idx)">
        <i class="fa fa-caret-down fa-2x"></i>
      </span>
      <div *ngIf="item.view.isSaved" class="word"> {{item.origin.name}} </div>
      <div *ngIf="!item.view.isSaved"  [style.padding-left.px]="5" >
        <input #rowLabel class="word" type="text"
          [id]="item.view.inputId"
          [ngModelOptions]="{
            standalone: true,
            debounce: 1000
          }"
          [(ngModel)]="item.origin.name"
          [pattern]="item.view.pattern"
          (ngModelChange)="checkAllWithDebounceTime(item)"
          (paste)="hashPaste(item, idx, $event)"
          (keydown)="openRow(item, idx, $event)"
          required
        >
          <!-- (keyup)="checkAll(item)" -->
      </div>
    </td>
    <td>
      {{item.origin.number}}
      <br>
      <span *ngIf="item.view.addNumber !== 0">
        (+{{item.view.addNumber}})
      </span>
    </td>
    <td>{{item.origin.ADD_TIME | date :'yyyy-MM-dd'}}</td>
    <td *ngIf="item.view.isSaved && !item.view.isSaving" >
      <i class="fa fa-check fa-lg finished"></i>
    </td>
    <td *ngIf="!item.view.isSaved && !item.view.isSavable && !item.view.isSaving" (click)="errorMsg(item)">
      <i class="fa  fa-times fa-lg editing"></i>
    </td>
    <td *ngIf="!item.view.isSaved && item.view.isSavable && item.origin.key < 0 && !item.view.isSaving" (click)="onHashUpdate(item)">
      <i class="fa  fa-floppy-o fa-lg editing"></i>
    </td>
    <td *ngIf="!item.view.isSaved && item.view.isSavable && !item.origin.key && !item.view.isSaving" (click)="onWordsUpdate([item])">
      <i class="fa  fa-floppy-o fa-lg editing"></i>
    </td>
    <td *ngIf="!item.view.isSaved && item.view.isSavable && item.origin.key > 0 && !item.view.isSaving" (click)="onHashesUpdate([item])">
      <i class="fa  fa-floppy-o fa-lg editing"></i>
    </td>

    <td *ngIf="!item.view.isSaved && item.view.isSaving"><i class="fa fa-spinner fa-pulse fa-fw"></i></td>


    <td *ngIf="item.origin.key && item.view.level === 0" (click)="addChild(item, idx)"><i class="fa fa-plus-circle fa-lg icon"></i></td>
    <td *ngIf="item.origin.key && item.view.level !== 0"></td>

    <td *ngIf="!item.origin.key && item.view.level === 1" (click)="addBro(item, idx)"><i class="fa fa-plus-circle fa-lg icon"></i></td>
    <td *ngIf="!item.origin.key && item.view.level !== 1"></td>

    <td *ngIf="item.origin.key && item.view.level < 2" (click)="removeRow(item, idx)">
      <i class="fa fa-minus-circle fa-lg icon"></i>
    </td>
    <td *ngIf="item.origin.key && item.view.level >= 2"></td>

    <td *ngIf="!item.origin.key && item.view.level === 1" (click)="removeRow(item, idx)">
      <i class="fa fa-minus-circle fa-lg icon"></i>
    </td>
    <td *ngIf="!item.origin.key && item.view.level !== 1 "></td>
  </tr>

</table>
</form>
