<!-- ##################################################################  -->
<!-- #  copyright © ku 마음건강연구소 all rights reserved.             #  -->
<!-- #  name of app: dmhc (web applcation of daily mind health care). #  -->
<!-- #  client : ku mind health care institute.                       #  -->
<!-- #  developer : yeo sung jun (sjyeo88@gmail.com).                 #  -->
<!-- #  used frameworks : angular 4, express, mysql.                  #  -->
<!-- #  name of component : header                                    #  -->
<!-- #  kick off : 2017-12-04                                         #  -->
<!-- #  end day  : 2017-01-31                                         #  -->
<!-- ##################################################################  -->

 <!-- need for message service of primeng -->
<p-growl [value]="msgs"></p-growl>

 <!-- predefiend loading template -->
<ng-template #loading>
  <div class="loading">
    <svg class="spinner"  viewbox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
     <circle class="path" fill="none" stroke-width="6" stroke-linecap="round" cx="33" cy="33" r="30"></circle>
    </svg>
    <div style="left: 10px">
      loading...
    </div>
  </div>
</ng-template>

<!-- code start  ---------------------------------------------------------->

<div class="header">
  <img src="./../../../assets/img/dmhc_logo.png" alt="">
  <div class="menu">

    <div class="sub">
      <ul>
        <li>환영합니다. {{us.userServ.name}} {{us.userServ.job}}님! </li>
        <li class="logout"  (click)="logOut()">
          <i class="fa fa-unlock fa-lg"></i>
          <i class="fa fa-lock fa-lg"></i>
          Logout
        </li>
        <li><a routerLink="/top/main/frame/sitemap"><i class="fa fa-sitemap fa-lg"></i>Site map</a></li>
      </ul>
    </div>

    <div class="main">
      <ul>
        <li (mouseenter)="menuSlide(0)" > {{ lay.submenus.dmhc.title }} </li>
        <li (mouseenter)="menuSlide(1)" > {{ lay.submenus.lecture.title }} </li>
        <li (mouseenter)="menuSlide(2)" > {{ lay.submenus.survey.title }} </li>
        <li (mouseenter)="menuSlide(3)" > {{ lay.submenus.assign.title }} </li>
        <li (mouseenter)="menuSlide(4)" > {{ lay.submenus.manage.title }} </li>
        <li (mouseenter)="menuSlide(5)" > {{ lay.submenus.mypage.title }} </li>
        <li (mouseenter)="menuSlide(6)" > {{ lay.submenus.guest.title }} </li>
      </ul>
    </div>

  </div>

</div>
