// ################################################################## //
// #  COPYRIGHT © KU 마음건강연구소 ALL RIGHTS RESERVED.             # //
// #  Name of app: DMHC (Web applcation of Daily Mind Health Care). # //
// #  Client : KU Mind health care institute.                       # //
// #  Developer : Yeo Sung Jun (sjyeo88@gmail.com).                 # //
// #  Used Frameworks : Angular 4, Express, MySQL.                  # //
// #  Name of Component : header                                    # //
// #  Kick off : 2017-12-04                                         # //
// #  End day  : 2017-01-31                                         # //
// ################################################################## //
@import "./../../../scss-variable.scss";

.header{
  margin: 10px;
  border-bottom: 3px solid $main_color01;
  height: 130px;
  overflow: hidden;
  font-family: "NanumBarunGothicOTF";
  img {
    float:left;
    width: 250px;
    // height: 115;
  }
  .menu {
    float: right;
    margin-left: 102px;
    .sub {
      // float: right;
      text-align: right;
      padding-top: 40px;
      padding-bottom: 24px;
      ul{
        list-style-type: none;
        display: inline-block;
        // margin-left: 300px;
        li{
          i {
            padding-right: 10px;
            color: $gray_darken;
          }
          cursor:pointer;
          text-align: center;
          font-family: NanumGothicOTF;
          // margin-top: 96px;
          padding-left: 17px;
          padding-right: 17px;
          font-size: 16px;
          float: left;
        }
      }
    }
    .main{
      ul {
        list-style-type: none;
        li {
          cursor:pointer;
          text-align: center;
          border-top-left-radius: 10px;
          border-top-right-radius:  10px;
          // margin-top: 96px;
          padding-top: 13px;
          padding-left: 15px;
          padding-right: 15px;
          padding-bottom: 15px;
          font-size: 17px;
          float: left;
          font-weight: bold;

          transition: background-color .5s;
        }

        li:hover {
          background-color: $main_color01;
          color: white;
        }

        li:click {
          background-color: $main_color01;
          color: white;
        }
      }
    }

  }

  .logout .fa-unlock,
  .logout:hover .fa-lock, {
    width: 100px;
    display: none;
  }

  .logout:hover .fa-unlock, {
    width: 100px;
    display: inline;
  }
  // border-bottom: 2px, bold, $main_color01;
}
