// ################################################################## //
// #  COPYRIGHT © KU 마음건강연구소 ALL RIGHTS RESERVED.             # //
// #  Name of app: DMHC (Web applcation of Daily Mind Health Care). # //
// #  Client : KU Mind health care institute.                       # //
// #  Developer : Yeo Sung Jun (sjyeo88@gmail.com).                 # //
// #  Used Frameworks : Angular 4, Express, MySQL.                  # //
// #  Name of Component : login-panel                               # //
// #  Kick off : 2017-12-04                                         # //
// #  End day  : 2017-01-31                                         # //
// ################################################################## //


@import "./../scss-variable.scss";

.app {
  width: 100%;
  .loading-overlay {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.4);
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    .loading-circle {
      display: inline-block;
      position: absolute;
      left: calc((100% - 200px)/2);
      top: calc((100% - 200px)/2);
      width:200px;
      height:200px;

      color:white;
      font-size: 20pt;
    }
  }
}
