<!-- ##################################################################  -->
<!-- #  COPYRIGHT © KU 마음건강연구소 ALL RIGHTS RESERVED.             #  -->
<!-- #  Name of app: DMHC (Web applcation of Daily Mind Health Care). #  -->
<!-- #  Client : KU Mind health care institute.                       #  -->
<!-- #  Developer : Yeo Sung Jun (sjyeo88@gmail.com).                 #  -->
<!-- #  Used Frameworks : Angular 4, Express, MySQL.                  #  -->
<!-- #  Name of Component : error                                     #  -->
<!-- #  Kick off : 2017-12-04                                         #  -->
<!-- #  End day  : 2017-01-31                                         #  -->
<!-- ##################################################################  -->



<!--The content below is only a placeholder and can be replaced.-->
<!-- <app-login-panel></app-login-panel> -->
<div class="app">
  <router-outlet></router-outlet>
  <app-footer></app-footer>
  <div class="loading-overlay" *ngIf="globals.loading">
    <span class="loading-circle">
      <svg class="spinner"  viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
       <circle class="path" fill="none" stroke-width="6" stroke-linecap="round" cx="33" cy="33" r="30"></circle>
      </svg>
      <br>
      <br>
      Loading...
    </span>
  </div>
</div>
