<!-- ##################################################################  -->
<!-- #  COPYRIGHT © KU 마음건강연구소 ALL RIGHTS RESERVED.             #  -->
<!-- #  Name of app: DMHC (Web applcation of Daily Mind Health Care). #  -->
<!-- #  Client : KU Mind health care institute.                       #  -->
<!-- #  Developer : Yeo Sung Jun (sjyeo88@gmail.com).                 #  -->
<!-- #  Used Frameworks : Angular 4, Express, MySQL.                  #  -->
<!-- #  Name of Component : welcome                                   #  -->
<!-- #  Kick off : 2017-12-04                                         #  -->
<!-- #  End day  : 2017-01-31                                         #  -->
<!-- ##################################################################  -->

 <!-- Need for Message Service of PrimeNG -->
<p-growl [value]="msgs"></p-growl>


<!-- Code start  ---------------------------------------------------------->

<div class="welcome">
  <div class="welcom-message">
    <h2>가입신청이 완료 되었습니다!</h2><br>
    <p>
      관리자 검토 후 1영업일 이내에 가입완료 메일이 전송됩니다.
      <br>
      추가 문의사항은 다음 연락처로 문의 바랍니다.
      <br> <br>
      <strong>관리자 E-Mail : </strong>{{ model.admin.email }}
      <br>
      <strong>관리자 휴대번호 : </strong>{{ model.admin.phone | phone }}
    </p>
  </div>
  <button id="home" type="submit" name="button" routerLink= "/login-panel">Login 페이지로</button>
</div>
