// ################################################################## //
// #  COPYRIGHT © KU 마음건강연구소 ALL RIGHTS RESERVED.             # //
// #  Name of app: DMHC (Web applcation of Daily Mind Health Care). # //
// #  Client : KU Mind health care institute.                       # //
// #  Developer : Yeo Sung Jun (sjyeo88@gmail.com).                 # //
// #  Used Frameworks : Angular 4, Express, MySQL.                  # //
// #  Name of Component : register                                  # //
// #  Kick off : 2017-12-04                                         # //
// #  End day  : 2017-01-31                                         # //
// ################################################################## //

@import "../../../scss-variable.scss";


.label {
  position: relative;
	font-family: NanumBarunGothicOTF;
	font-size: 15px;
	text-align: left;
	color: #4a4a4a;
  top: 5px;
  .invalid {
    color: $vermilion;
  }
  .valid {
    color: $bluish_green;
  }
}


#register-title {
  position: relative;
  font-family: NanumBarunGothicOTF;
  font-size: 24px;
  text-align: left;
  color: #4a4a4a;
  margin: 30px;
}

.regist-form {
  position: relative;
  margin-left: 35px;
}

.regist-form input {
  margin-top: $regist_input_top_margin;
}


#submit-register {
  position: relative;
  width: 331px;
  margin-top: 47px;
  margin-left: 401px;
}

#validStyle {
  position: relative;
  left: 600px;
  top: 100px;
}
