<!-- ##################################################################  -->
<!-- #  copyright © ku 마음건강연구소 all rights reserved.             #  -->
<!-- #  name of app: dmhc (web applcation of daily mind health care). #  -->
<!-- #  client : ku mind health care institute.                       #  -->
<!-- #  developer : yeo sung jun (sjyeo88@gmail.com).                 #  -->
<!-- #  used frameworks : angular 4, express, mysql.                  #  -->
<!-- #  name of component : manage-detail                    #  -->
<!-- #  kick off : 2017-12-04                                         #  -->
<!-- #  end day  : 2017-01-31                                         #  -->
<!-- ##################################################################  -->

 <!-- need for message service of primeng -->
<p-growl [value]="msgs"></p-growl>
<p-confirmDialog header="Confirmation" icon="fa fa-question-circle" width="500"></p-confirmDialog>
<!-- code start  ---------------------------------------------------------->
<div class=""   [formGroup]="fm.form">
<div class="search">
  <p-dropdown
    [options]="allPatientList"
    [style]="{'width':'300px'}"
    placeholder="내담자를 선택해 주세요"
    formControlName="patient"
    (onChange)="loadPatient($event.value)"
    filter="true"
  ></p-dropdown>
</div>
<br>
<br>
<div class="patient-detail">
  <div class="ui-g">
    <div class="ui-g-3">
      <div class="sub-title">
        내담자 번호 : {{ ('000' + tgtPatient.idPATIENT_USER).slice(-4) }}
      </div>
      <div class="detail">
        <ul>
          <li>이름 : {{ tgtPatient.name }}</li>
          <li>나이 : 만 {{ tgtPatient.age }} 세</li>
          <li>성별 : {{ tgtPatient.gender | gender }}</li>
          <li>생년월일: {{ tgtPatient.birth | date:'yyyy-MM-dd' }}</li>
          <li>가입일: {{ tgtPatient.JOIN_DATE | date:'yyyy-MM-dd' }}</li>
          <li>모바일 앱 접속일: <br>{{ tgtPatient.LAST_LOGIN_DATE }}</li>
        </ul>
        <ul>
          <li> <i class="fa fa-phone"></i> : {{ tgtPatient.phone | phone }} </li>
          <li> <i class="fa fa-envelope-o"></i> : {{ tgtPatient.email }} </li>
        </ul>
      </div>
    </div>
    <div class="ui-g-9">
      <div class="sub-title">
        내담자 과제 그룹
        <div class="assign-dropdown">
          <p-dropdown styleClass="dropdown"
          [style]="{'width':'300px'}"
          [options]="allAssignList"
          formControlName="assign"
          (onChange)="confirmAssign($event)"
          ></p-dropdown>
        </div>
      </div>
      <div class="survey-ctrl">
        <div class="ui-g-10 survey">
          <span class="year" *ngIf="viewMode===2">{{cuDate.getFullYear()}}년</span>
          <span class="year" *ngIf="viewMode!==2">{{cuDate.getFullYear()}}년 {{cuDate.getMonth()+1}} 월</span>
          <div class="survey-detail">
            <li>
              <!-- getSurveyResult($event)" -->
              <p-dropdown
              [style]="{'width':'300px'}"
              [options]="assignCtrlOpt"
              (onChange)="onChangMode($event)"
              formControlName="assignCtrl"
              ></p-dropdown>
            </li>
            <li [style.margin-top.px]="10" *ngIf="viewMode!==2">
              총과제 : {{result.assignNum }}개 | 수행 : {{result.finished }}개 | 수행률 : {{result.percentage}}%
            </li>
          </div>
        </div>
        <div class="ui-g-1 year-move" *ngIf="viewMode===2" (click)="yearUp()">▲</div>
        <div class="ui-g-1 year-move" *ngIf="viewMode===2" (click)="yearDown()">▼</div>
        <div class="ui-g-1 year-move" *ngIf="viewMode!==2" (click)="monthUp()">▲</div>
        <div class="ui-g-1 year-move" *ngIf="viewMode!==2" (click)="monthDown()">▼</div>
      </div>
      <div>
        <!-- <canvas id="myChart" *ngIf="viewMode===ViewModeOpt.Survey"></canvas> -->
        <!-- <canvas id="myChart"></canvas> -->
        <canvas id="myChart" [style.display]="viewMode==ViewModeOpt.Survey ? 'block' : 'none'"></canvas>
        <div class="scheduler" *ngIf="viewMode==ViewModeOpt.Calender">
          <table>
            <th>일</th>
            <th>월</th>
            <th>화</th>
            <th>수</th>
            <th>목</th>
            <th>금</th>
            <th>토</th>
            <tr *ngFor="let week of calender;">
              <td *ngFor="let day of week" [ngClass]="day?.valid ? '' : 'blur'">
                {{ day?.date.getDate() }} <br>
                <div class="objs-container">
                  <div *ngFor="let assign of day?.assigns;">
                    <div class="obj-container">
                      <span [ngClass]="assign.result == 1 ? 'obj-finished' : 'obj-ing'"></span>
                      <!-- <p [ngClass]="day?.date.getDay() > 3 ? 'detail-right' : 'detail-left'"> -->
                      <p class="detail">

                           <li><strong>과제 그룹 이름 : </strong> {{assign?.groupName}}</li>
                           <li><strong>과제 이름 :</strong> {{assign?.title}}</li>
                           <li><strong>지시문 : </strong> {{assign?.command}}</li>
                           <li><strong>결과 : </strong> {{assign?.result == 1 ? '완료' : '진행 중' }}</li>
                      </p>
                    </div>
                  </div>
                </div>
              </td>
            </tr>
          </table>
        </div>

        <div class="list" *ngIf="viewMode==ViewModeOpt.List">
          <table>
            <th>과제 제시날짜</th>
            <th>과제 그룹</th>
            <th>과제명</th>
            <th>지시문</th>
            <th>수행결과</th>

            <tr *ngFor="let item of isExpand ? list : list.slice(0, 10)">
              <td align="center" class="time"> {{ item.PUSH_TIME | date: 'yyyy-MM-dd hh시 mm분' }} </td>
              <td> {{ item.groupName }} </td>
              <td> {{ item.title }} </td>
              <td> {{ item.command }} </td>
              <td class="result" align="center" *ngIf="item.result == 1">
                <i class="fa fa-check-circle fa-lg finished"></i>
              </td>
              <td class="result" align="center" *ngIf="item.result == 0">
                <i class="fa fa-times-circle fa-lg pending"></i>
              </td>
            </tr>
            <tr>
              <td class="expand" colspan="5" align="center" (click)="listExpand()">
                <span *ngIf="!isExpand">더 보기 ▼</span>
                <span *ngIf="isExpand">접기 ▲</span>
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
