// ################################################################## //
// #  COPYRIGHT © KU 마음건강연구소 ALL RIGHTS RESERVED.             # //
// #  Name of app: DMHC (Web applcation of Daily Mind Health Care). # //
// #  Client : KU Mind health care institute.                       # //
// #  Developer : Yeo Sung Jun (sjyeo88@gmail.com).                 # //
// #  Used Frameworks : Angular 4, Express, MySQL.                  # //
// #  Name of Component : manage-detail                    # //
// #  Kick off : 2017-12-04                                         # //
// #  End day  : 2017-01-31                                         # //
// ################################################################## //

@import './../../../../../../scss-variable.scss';

.search {
  float: right;
  input {
    height: 30px;
  }
}
.patient-detail {
  width:100%;
  .sub-title {
    background-color: $main_color01;
    border-bottom: 5px solid white;
    color: white;
    font-size: 22px;
    font-weight: bold;
    height: 55px;
    padding:8px 15px;
  }

  .assign-dropdown{
    padding:0;
    float:right;
    width:300px;
    opacity: 1 !important;
  }
  .detail {
    padding: 10px;
    ul {
      list-style: none;
      margin-bottom: 30px;
    }
    background-color:  $gray_bright;
    color:  $gray_darken;
  }

  .survey-ctrl {
    background-color: $gray_darken;
    color: white;
    height: 80px;
    .year {
      background-color: inherit;
      font-size: 31px;
      padding: 0.2em 0 0 0;
      float: right;
    }
    .year-move {
      user-select: none;
      background-color: inherit;
      font-size: 36px;
      padding: 0.5em 0 0 0;
      border-left: 1px solid white;
      text-align: center;
      height: 100%;
      cursor: pointer;
    }
    .year-move:hover {
      user-select: none;
      background-color: $gray_light;

    }
    .survey {
      background-color: inherit;
      list-style: none;
      font-size: 16px;
      padding: 0.5em 1.0em;
    }
    .survey-detail {
      float:left;
    }
  }

  canvas {
    width: 100% !important;
}
  .hide {
    display: none;
  }
  .shrink {
    width: 0;
  }
  .list {
    border-top: 3px solid white;
    table {
      width: 100%;
        th {
          padding: 5px;
          vertical-align: middle;
          font-size: 14px;
          background-color: $gray_light;
          color: $gray_darken;
        }

        td.time { width: 20%; };
        td.result { width: 10%; };
        td.expand {
          background-color: $gray_light;
          cursor: pointer;
          user-select: none;
        };
        td.expand:hover {
          cursor: pointer;
          background-color: lighten($gray_light, 10);;
          user-select: none;
        };
        td {
          padding: 5px;
          font-size: 12px;
          background-color: $gray_bright;
          i.finished { color: $correct_color };
          i.pending { color: $error_color };
        }
        th.clickable:hover {
          cursor: pointer;
          background-color: lighten($gray_light, 10);;
        }
    }
  }
  .scheduler {
    border-top: 3px solid white;
    table {
      width: 100%;
      border-collapse: collapse;
      border-style: hidden;
      table-layout: fixed;
      th {
        vertical-align: middle;
        font-size: 20px;
        background-color: $gray_light;
        color: white;
        height: 50px;
      }
      td {
        padding: 5px;
        vertical-align: top;
        text-align: center;
        font-size: 16px;
        background-color: $gray_bright;
        height: 80px;
        border: 3px solid white;
      }
      .blur {
        position: relative;
        z-index: 1;
        opacity: 0.5;
      }
      .objs-container {
        display:inline-block;
        width: 72px;
        text-align: center;
        .obj-container {
          display: inline-block;
          float: left;
          margin: 2px 4px;
          width: 10px;
          height: 10px;
          .obj-finished {
            background-color: $correct_color;
            display: inline-block;
            width: 100%;
            height: 100%;
            border-radius: 10px;
            cursor: pointer;
          }

          .detail {
            position: absolute;
            z-index: 2;
            width: fit-content;
            background-color: rgba(113, 113, 113, .9);
            width: 350px;
            transform: translate(-90%, -138%);
            transition: opacity .2s;
            li { text-align: left; }
            color: white;
            display: inline-block;
            visibility: hidden;
            opacity: 0.0;
          }

          .obj-finished:hover + p.detail{
            visibility: visible;
            transition: opacity .2s;
            opacity: 1.0;
          }
          .obj-ing {
            @extend .obj-finished;
            background-color: $error_color;
          }
        }
      }

    }
  }
}
