
.date-picker {
  position: relative;
  width: 200px;
  height: 30px;
  border: solid 1px $form_border_color;
  font-size: 11pt;
}


.dropdown {
  position: relative;
  border: solid 1px $form_border_color;
  width: 100px;
  height: 30px;
  font-size: 11pt;
}

.file-uploader {
  margin-top: 20px;
  width: 80%;
  border: solid 1px $form_border_color;
  border-radius: 5px;
}

.regist-form .date-picker, .regist-form .dropdown, .regist-form .fileUploader{
  margin-top: $regist_input_top_margin;
}
.ui-togglebutton.ui-button.ui-state-active,
.ui-selectbutton .ui-button.ui-state-active, {
  background-color: $main_color01;
  box-shadow: 0 0 5px $form_border_color;
}
.ui-togglebutton .ui-button.ui-state-focus.ui-state-active,
.ui-selectbutton .ui-button.ui-state-focus.ui-state-active {
  border: none;
  box-shadow: 0 0 5px $form_border_color;
}
