@import "scss-variable.scss";
@import "primeng-custom.scss";

@font-face {
  font-family: NanumBarunGothicOTF;
  src: url(./assets/fonts/NanumBarunGothic.eot);
  src: url(./assets/fonts/NanumBarunGothic.eot?#iefix) format('embedded-opentype'),
       url(./assets/fonts/NanumBarunGothic.woff) format('woff');
       /*url(./assets/fonts/NanumBarunGothic.ttf) format('truetype');*/
}

@font-face {
  font-family: NanumGothicOTF;
  src: url(./assets/fonts/NanumGothic.eot);
  src: url(./assets/fonts/NanumGothic.eot?#iefix) format('embedded-opentype'),
       url(./assets/fonts/NanumGothic.woff) format('woff');
       /*url(./assets/fonts/NanumBarunGothic.ttf) format('truetype');*/
}

@font-face {
  font-family: NanumGothicEXB;
  src: url(./assets/fonts/NanumGothicExtraBold.eot);
  src: url(./assets/fonts/NanumGothicExtraBold.eot?#iefix) format('embedded-opentype'),
       url(./assets/fonts/NanumGothicExtraBold.woff) format('woff');
       /*url(./assets/fonts/NanumBarunGothic.ttf) format('truetype');*/
}


* {
  margin: 0;
  padding: 0;
  font-family: 'NanumBarunGothicOTF';
  -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
        box-sizing: border-box;
}

*:focus {
  outline-color: $form_border_color;
  outline-style: dotted;
  outline-width: 1px;
	box-shadow: 0 0 5px #gray_darken;
}

label {
  color:inherit;
}


body {
  width: 100%;
  height: 100%;
  text-align: center;
}

body > div {
  text-align: center;
}

// Basic Button Define

button {
  border-color: $main_color01;
	box-shadow: 2px 2px 2px 0 rgba(0, 0, 0, 0.2);
  background-color: $main_color01;
  height: 2.5em;
  color: $white;
  border: 0  ;
  font-family: "NanumBarunGothicOTF";
  font-size: 14px;
  text-align: center;

  -webkit-transition: background-color .2s;
  -moz-transition: background-color .2s;
  transition: background-color .2s;
}

button:hover {
  background-color:  $button_hover_color;
  color: $white;
}

button:focus {
  background-color: $button_hover_color;
  outline: 0;
}

button:active {
  background-color: $main_color01;
	box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.2);
  color: $white;
}

// Basic Input Define
input {
  position: relative;
  padding-left: $input_left_padding;
  caret-color: $black;
  border: solid 1px $form_border_color;
  border-radius: 4px;
  background-color: $white;
  height: 2.2em;
  font-size: 16px;


  -webkit-transition: .2s;
  -moz-transition: .2s;
  transition: .2s;
}

input:focus {
  -moz-box-shadow: 0px 0px 5px #4a4a4a;
  -webkit-box-shadow: 0px 0px 5px  #4a4a4a;
  box-shadow: 0px 0px 5px #4a4a4a;
}

input.ng-invalid {
  border: solid 2px $error_color;
}

input.ng-valid {
  border: solid 2px $correct_color;
}

input.ng-pristine {
  border: solid 1px $form_border_color;
}

// Basic Hyperlink Define
a:link {
  position: inherit;
  text-decoration: none;
  background-color: transparent;
  color: inherit;
}

a:visited {
  color: inherit;
}

// a:hover {
//   color: $link_hover_color;
// }


textarea {
  background-color: #e8e8e8;
  border: 1px;
  padding: 5px;
  resize: none;
}


// $offset: 187;

.loading{
  margin-top: 40px;
  margin-bottom: 30px;
  width: 40px;
  height: 40px;
  color: $error_color;
  // font-weight: bold;
  margin-left: 2.0em;
}

.icon {
  cursor: pointer;
  -webkit-transition: color .5s;
  -moz-transition: color .5s;
  transition: color .5s;
}

.icon:hover {
  color: $light_blue;
}
.valid-error {
  padding:5px;
  padding-left: 20px !important;
  padding-right: 20px !important;
  // width: 250px !important;
  // border: 1px solid $error_color;

  margin-left: 20px;
  border-radius: 5px;
  background-color: rgb(255, 182, 170);
  color: $main_color01 !important;
  font-weight: bold;
  border-color:inherit;
}

.valid-warning{
  @extend .valid-error;
  // border: 1px solid rgb(196, 141, 0);
  background-color: rgb(242, 240, 189);
  color: rgb(196, 141, 0)  !important;
}

.disabled {
  pointer-events: none;
  -webkit-transition: opacity .5s;
  -moz-transition: opacity .5s;
  transition: opacity .5s;
  opacity: 0.6
}



.refresh {
  color: $correct_color;
  margin-left: 10px;
  margin-right : 10px;
  cursor: pointer;

}

.refresh:hover {
  color: lighten($correct_color, 10);
  -webkit-transition: color .5s;
  -moz-transition: color.5s;
  transition: color .5s;
}


$offset: 187;
$duration: 1.4s;

.spinner {
  animation: rotator $duration linear infinite;
  margin-left: 20px;
}

@keyframes rotator {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(270deg); }
}

.path {
  stroke-dasharray: $offset;
  stroke-dashoffset: 0;
  transform-origin: center;
  animation:
    dash $duration ease-in-out infinite,
    colors ($duration*4) ease-in-out infinite;
}

@keyframes colors {
	0% { stroke: #4285F4; }
	25% { stroke: #DE3E35; }
	50% { stroke: #F7C223; }
	75% { stroke: #1B9A59; }
  100% { stroke: #4285F4; }
}

@keyframes dash {
 0% { stroke-dashoffset: $offset; }
 50% {
   stroke-dashoffset: $offset/4;
   transform:rotate(135deg);
 }
 100% {
   stroke-dashoffset: $offset;
   transform:rotate(450deg);
 }
}

th {
  text-align: center;
}

.manual-title {
  padding: 30px;
  padding-bottom: 0;
  h3 {
    margin-bottom: 10px;
  }
}

.manual-sequence {
  margin-bottom: 20px;
  padding: 20px;
  img {
    margin: 20px 0;
  }
  p {
    margin: 10px 0;
  }
}

.manual-img {
  width: 800px;
}
