<div class="login">
  <img src="assets/img/1-2_pic.jpg" id="login-img">
  <div class="login-input">
  <h2 class="login-title">치료자 로그인</h2>
  <form (ngSubmit)="onSubmit(f)" #f="ngForm">
    <div class="input-text">
    <input type="text" name="emil" placeholder="이메일">
    <input type="password" name="emil" placeholder="비밀번호">
    </div>
    <div class="input-button">
    <button type="submit" name="log-in" id="login-button">로그인 하기</button>
    <button type="button" name="register" id="register-button"
            routerLink="../access-term">치료자 등록하기</button>
    </div>
    <p  id="sub-menu">
      <a href="#">이메일 찾기</a>
      <span>&nbsp;|&nbsp;</span>
      <a href="#">비밀번호 찾기</a>
      <span>&nbsp;|&nbsp;</span>
      <a href="#">매일마음관리 소개</a>
      <span>&nbsp;|&nbsp;</span>
      <a href="#">이용절차</a>
    </p>
  </form>
  </div>
</div>
